.error-message {
  font-size: xx-large;

}

.error-home-button {
  min-width: 100px;
  text-align: center;
  color: #505c66;
  border: 1px solid black;
  border-radius: 20px;
  width: 150px;  
  height: 30px;
  cursor: pointer;
}

.error-page {
  margin-top: 100px;;
}