.error-message {
  font-size: xx-large
}

.error-home-button {
  min-width: 6.25em;
  text-align: center;
  padding: 0;
  color: #f0f3f5;
  border: none;
  border-radius: 0.5em;
  margin-right: 0.9375em;
  background-color: #0174C2;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  width: 150px;  
  height: 40px;
  cursor: pointer;
}