body {
  font-family: 'Bebas Neue', cursive;
  margin: 0;
  height: 100vh;
  background-color: black;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


